.chart-component {
    padding: 1% 5%;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 3rem ;
}

.log-date {
    gap: 5rem;
    display: flex;
}

.down-part {
    display: flex;
    gap : 5% ;
}

.graph {
    width: 75%;
}

p-chart {
    display: block;
    margin: 2%;
    width: 100%;
    object-fit: contain;
}

.right-part {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.download-button,
.mode-period,
.mode-selector,
.dropdown {
    margin-bottom: 2%;
}

.mode-selector,
.dropdown {
    float: right;
}

.legend {
    height: 400px;
    overflow: auto;
}

.legend-item {
    display: flex;
    gap: 1rem;
    margin: 1%;
}


.p-colorPicker {
    margin: auto 1%;
}

:host ::ng-deep .p-colorpicker-hue {
    background: white !important;
}

.button-hide {
    height: 3rem;
    width: 3rem;
    float: right;
    margin: 0 0 0 auto;
}

.hidden-item {
    color: #888888;
    text-decoration: line-through;
}

.error {
    color : red;
}

.switch{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

p-inputSwitch {
    margin: 0 1rem;
}

.switch, .p{
    padding-right: 1rem;
}
