
.main {
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.float-table {
    flex: 1.4;
    padding: 10px;
}

.float-history {
    flex: 0.6;
    padding: 10px;
}

.title{
    text-align: center;
    font-size: 3em;
}