<div class="title">Résultats</div>

<div class="container">
    <div class="buttonSearch">
        <div class="divButton">
            <a routerLink="/menu" class="button">&#8249;- retour au menu</a>
        </div>
        <!-- <input placeholder="Search"> -->
    </div>
    
        <div *ngIf="result">
            <div class="mapScatter">

                <div class="map">
                    <app-map></app-map>
                </div>
                <div class="scatter">
                    <app-scatter></app-scatter>
                </div>
            </div>
            <app-table></app-table>
        
        </div>
        <div *ngIf="!result">Loading...</div>
</div>



