.title{
    color: rgba(0, 0, 0, 0.94);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps; 
}   

.container{
    border-radius: 10px;
    background: #D0D0DA;
}

.buttonSearch{
    display: flex;
    justify-content: left;
    padding: 1%;
}
.divButton{
    display: flex;
    justify-content: left;
    width: fit-content;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #999;
    background: #FFF; 
    padding: 1%;
}
.button{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase; 
}
.mapScatter{
    display: flex;
    justify-content: space-between;
    padding: 1%;

}

.map{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 5px 4px 11px -2px rgba(0, 0, 0, 0.25);
    margin-right: 1%;
    width:100%;
}

.scatter{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 5px 4px 11px -2px rgba(0, 0, 0, 0.25);
}



