@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
    font-family: var(--font-family);
}

.p-button.p-button-icon-tiny{
    font-size: 0.875rem;
    padding: 0.1rem 0.1rem;
    width: 1rem;
    margin-right: 0.4rem;
}

/* temp workaround for the history */
.tree {
    width: 100% o !important;
    position: relative !important;
}

.current-node {
    background-color: rgb(233, 233, 233) !important;
}

.modebar-btn--logo{
    display: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact{
    display: none;
}

.plotly-notifier{
    display: none;
}

#startStopButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}
#startStopButton.active {
    background-color: red;
    color: white;
}

.container0 {
    display: flex;
    justify-content: space-between;
}