<!-- <table>
  <tbody>
    <tr>{{getKey(this.values)}}</tr>
    <tr *ngFor="let id of getKey(this.values); let j = index">
      <th>{{ this.dates[j] }}</th>
      <div *ngFor="let value of this.values; let j = index">
        <td>{{ value }}</td>
      </div>
  </tbody>
</table> -->
<div class="container">
  <div style="padding: 30px;" *ngIf="selected">
    <table class="table-grid">
      <div>
        <thead>
          <tr>
            <th>Date</th>
            <th style="width: 170px">{{ idCourant }}</th>
          </tr>
        </thead>
      </div>
      <div style="height: 300px; overflow-y: scroll;">
        <tbody>
          <ng-container *ngFor="let date of dates; let i = index">
            <tr>
              <td>{{ date | date:'yyyy' }}</td>
              <td style="width: 100px" [ngStyle]="attribuerCouleur(this.tableService.getValuesWithKey(this.values, this.idCourant)[i], 1, 'red', 'green')">{{this.tableService.getValuesWithKey(this.values, this.idCourant)[i]}}</td>
              <!-- <td *ngFor="let d of getValues(this.values)" [ngStyle]="attribuerCouleur2(indexation(d,i))">{{ indexation(d,i) }}</td> -->
            </tr>
          </ng-container>
        </tbody>
      </div>
    </table>
    <!-- <div id="tableData"></div> -->
  </div>
  <div *ngIf="selected" style="padding-left: 10px; width: 1200px">
    <label for="startYear">Année de début:</label>
    <input type="number" id="startYear" [(ngModel)]="startYear">
    <label for="endYear">Année de fin:</label>
    <input type="number" id="endYear" [(ngModel)]="endYear">
    <button (click)="majIntervalle()">Appliquer</button>
    <button (click)="resetIntervalle()">Reset</button>
    <div id="table"></div>
  </div>
</div>