.table-grid {
    border-collapse: collapse;
}
  
.table-grid th, .table-grid td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: middle;
    font-size: 15px;
}

#tableData{
    width: min-content;
    padding: 0;
}

.cote-a-cote {
    display: inline-flex;
    padding: 2%;
}

label {
    display: inline-flex;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

input[type="number"] {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Espace à droite entre les entrées */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Espace à droite entre les boutons */
}

button.reset-button {
    background-color: #ff0000; /* Vous pouvez utiliser la couleur de votre choix */
}

button.apply-button {
    background-color: #4CAF50; /* Vous pouvez utiliser la couleur de votre choix */
}

.container{
    display: flex;
    width: auto;
    // justify-content: space-between;
}