<a class="navigationRoute" [ngClass]="{'hover-effect': current_path.length > 0}" (click)="navigateTo('')">
  {{formatSegment(this.parameters.name.at(0))}}
</a>
<ng-template ngFor let-segment [ngForOf]="current_path" let-i="index" let-isLast="last">
  <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
  <a class="navigationRoute" [ngClass]="{'hover-effect': !isLast}" (click) = "navigateTo(segment)">{{formatSegment(segment)}}</a>
</ng-template>

<div style="height: 70vh; overflow-y: scroll; ">

  <ng-template ngFor let-paramGroup [ngForOf]="currentParamGrp.ParametersGroup" let-i="index" >
    <button pButton pRipple class="parameterButton" (click) = "navigateTo(paramGroup.name[0])">
      <div class="parameterButtonTitle">
        <div>{{formatSegment(paramGroup.name[0])}}</div>
        <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
      </div>
    </button>
  </ng-template>
  <ng-template ngFor let-param [ngForOf]="currentParamGrp.Parameter" let-i="index" >
    <button pButton pRipple class="propertyButton">
      <div class="parameterButtonTitle">
        <div>{{formatSegment(param.name[0])}}</div>
      </div>
    </button>
  </ng-template>
</div>


