/* The sidebar menu */


.researchInput {
    border-radius: 26px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    background: rgba(206, 206, 206, 0.176);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    margin: 10px 0px 15px 0px;
    padding: 5px;
    width: 90%;
}

.researchInput:focus {
    outline: thin dotted;
}

.buttonlist{
    height: 100%;
    //background-color: blue;
    overflow:scroll;
}
.buttonlist::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
    height: 80%;
}


.buttonlist::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Set the background color of the track */
    border-radius: 10px;
}

.buttonlist::-webkit-scrollbar-thumb {
    background-color: #e5e5e5; /* Set the color of the thumb */
    border-radius: 10px;
}

.buttonlist::-webkit-scrollbar-thumb:hover {
    background-color: #a7a7a7; /* Set the darker color on hover */

}

.buttonlist button{
    border-radius: 4px;
    border-width: 0px;
    width: 97%;
    height: 42px;
    margin-bottom:5px;
    padding: 10px 15px 10px 20px;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center; /* Center text vertically */
    position: relative; /* Added position: relative */
}

/* The navigation menu links */
.unactive {
    background: #FFF;
    color: #555;
}

/* When you mouse over the navigation links, change their color and show the green bar */
.unactive:hover {
    background: rgba(125, 186, 200, 0.50);
    color: #FFF;
}

.active {
    background: rgba(125, 186, 200, 0.50);
    color: #FFF;
}

.active:before {
    content: '';
    position: absolute;
     /* Adjusted left position to create space */
    background-color: #7C98B3;
    left:8px;
    border-radius: 4px;
    height: 70%;
    width: 5px;
    //transition: width 0.1s; /* Added transition for smooth animation */
}




