<div class="component-subject4">
    <div class="center">
        <app-map (pointsClicksChange)="onPointsClicksChange($event)"></app-map>
    </div>
    <div>
        <app-chart [measurePoints]="measurePoints"></app-chart>
    </div>
</div>
