<!-- <div id="map" (click)="onMapClick()"></div> -->
<!-- <div class="iframe-container">
    <iframe class="my-iframe" [srcdoc]="carte"></iframe>
</div> -->

<div class="buttons">
    <p>Apparence de la carte :  </p>
    <button class="button" (click)="changeMapStyle('open-street-map')">Day</button>
    <button class="button" (click)="changeMapStyle('carto-positron')">Minimal</button>
    <button class="button" (click)="changeMapStyle('carto-darkmatter')">Night</button>
    <!-- <button class="button" (click)="changeMapStyle('stamen-terrain')">Terrain</button>
    <button class="button" (click)="changeMapStyle('stamen-toner')">N&B</button> -->
</div>

<div class="nappes">
    <p>Sélectionnez une nappe :  </p>
    <input id="mots" name="mots" [(ngModel)]="selectedNappe" (change)="actualiserNappeRechercher()" list="nappes" />
    
    <datalist id="nappes">
        <option *ngFor="let n of nappes" [value]="n">{{ n }}</option>
    </datalist>
</div>

<div class="iframe-container">
    <plotly-plot class="my-iframe" *ngIf="datas" id="map" [data]='datas' [layout]='layouts' [config]="plotlyConfig" (plotlyClick)="onCityClick($event)">
    </plotly-plot>
</div>





