<app-topbar></app-topbar>

<div class="card" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
  <div class="pageTitle" style="margin-right: 10px;">Cydre</div>
  <p-dropdown [options]="roles" [(ngModel)]="selectedRole" optionLabel="name" placeholder="Select a View"></p-dropdown>
  <p-button>
    <div class="runButton">
      <div>Run</div>
    </div>
  </p-button>
</div>
