<div class="topbar">
    <a routerLink="/menu"><img src="../../../assets/image/Logo.png" alt="logo"  /></a>
    <div class="user-profil">
        <div class="profil-name">John Doe</div>
        <!--<div class="profil-name">{{this.userRole}}</div>-->
        <div class="profil-photo">
            <img src="../../../assets/image/scientist_photo.svg"/>
        </div>
    </div>
</div>

<!--
<div class="header">
    <a href="#home" class="logo">Hydro</a>
    <div class="header-right">
      <a *ngIf="this.userRole!=''" class="active" >{{this.userRole}}</a>
      <a href="#account">Selim Gmati </a>
    </div>
</div>
-->

