:host {
    .topbar {
        height: 86px;
        display: flex;
        padding: 0px 0px 1px 38px;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(85, 85, 85, 0.25);

        position:fixed;
        width: 100%;
        overflow: hidden;
        z-index: 20;

        .user-profil {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;
            padding-right: 30px;

            .profil-name {
                color: #555;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-right: 15px;
            }

            .profil-role {
                color: #555;
                background-color: dodgerblue;
                padding: 12px;
                border-radius: 4px;
                color: white;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-right: 15px;
            }

            .profil-photo img {
                height: 100%;
                border-radius: 50%;
                margin-top: 8px;
                object-fit: cover; /* this ensures the image covers the whole area */
                border: 2px solid #fff; /* optional: adds a border around the image */
            }
        }


    }
}

