.p-autocomplete {
    margin: 10px 1% ;
}

.map-component {
    display:block;
    margin : 1% auto ;
    width: 80%;
}

.map-container {
    margin : 1% auto ;
    height : 600px ;
}

.map-frame {
    border : 2px solid black;
    height : 100%;
}

#map {
    height : 100%;
}

.map-header {
    margin: 1%;
    vertical-align: middle;
    height:10%;
}


.child-header {
    display: inline-flex;
    vertical-align: middle;
    height : 5%;
}


.map-title {
    width : 65%;
}

.map-select{
    width : 33%;
    margin-left : 2%;
    justify-content: flex-end;
}
