<div class="map-component">
    <div class="map_header">
        <div class="map-title child-header">
            <h2>Carte des débits d'eau mesurés en Bretagne</h2>
        </div>
        <div class="map-select child-header">
            <p-autoComplete id="autocomp" [(ngModel)]="selectedItem" [suggestions]="filteredLocations" (onUnselect)="unselectPoint($event)"
            (completeMethod)="filterPoints($event)" (onSelect)="selectPoint($event)" [forceSelection]="true"
            [dropdown]="true" [multiple]="true" placeholder="Entrer un point de mesure"></p-autoComplete>
        </div>
    </div>  
    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>