.iframe-container {
    
    border: 1px solid #ccc;
    margin:1%;
    border-radius: 10px;
    // position: absolute;
    // right: 0;
}
  
.my-iframe {
    width: 1000px;
    height: 100%;
}

.map-controls {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.button {
    background: #1971b0;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    margin:1%;
    flex:1;
    color: #F5F5F5;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: small-caps; 
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.nappes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    font-weight: bold;
}
  
button:focus {
    background: orange;
}

#mots {
    width: 28vw;
}
  