<div class="title">Results</div>


<p-button label="Menu" styleClass="p-button-secondary" routerLink="/menu"></p-button>
&nbsp;&nbsp;&nbsp;
<p-button label="Cancel" styleClass="p-button-danger" (click)="abort()" [disabled]="aborted||done"></p-button>
<br>
<br>
<p-accordion [activeIndex]="activeIndex">

  <p-accordionTab id="accordianResult">
    <ng-template pTemplate="header">
      <table class="maxWidth">
        <thead>
          <tr>
            <th class="halfWidth">
              Result
            </th>
            <td class="halfWidth alignRight">
              <div *ngIf="timeFinished.getMilliseconds() != 0; then thenBlock else elseBlock"></div>

              <ng-template #thenBlock>
                <div class ="{{aborted ? 'redtext' : 'greentext'}}">
                  Finished {{timeDiffString}} ago
                </div>
              </ng-template>
              <ng-template #elseBlock>Pending...</ng-template>
            </td>
          </tr>
        </thead>
      </table>
    </ng-template>

    <!-- divide into 2 column-->
    <p-splitter [style]="{ height: '350px' }" styleClass="mb-5" [minSizes]="[15, 50]" [panelSizes]="[20, 80]" >
      <ng-template pTemplate>
        <div class="center">
          <div class="center-text">
            <h1 *ngIf="remainingTime.secondes != 0 || remainingTime.minutes != 0">TIME REMAINING</h1>
            <br>
            <h1 *ngIf="remainingTime.secondes != 0 || remainingTime.minutes != 0" class="timer-text">{{remainingTime.minutes}} : {{remainingTime.secondes}}</h1>
            <h1 *ngIf="remainingTime.secondes == 0 && remainingTime.minutes == 0 && !this.aborted" class="timer-text">DONE</h1>
            <i *ngIf="remainingTime.secondes == 0 && remainingTime.minutes == 0 && !this.aborted" [ngClass]="'pi pi-check'" [ngStyle]="{'color':'#29f334'}" style="font-size: 4.0rem"></i>

            <h1 *ngIf="remainingTime.secondes == 0 && remainingTime.minutes == 0 && this.aborted" class="timer-text">ABORTED</h1>
            <i *ngIf="remainingTime.secondes == 0 && remainingTime.minutes == 0 && this.aborted" [ngClass]="'pi pi-times'" [ngStyle]="{'color':'#DC2626'}" style="font-size: 4.0rem"></i>


          </div>
        </div>
      </ng-template>

      <ng-template pTemplate>
        <div class="center">


      <p-timeline #timeline [value]="steps" class="timeline" align="top" layout="horizontal" >
        <ng-template pTemplate="marker" let-step>
            <span class="shadow-2 p-timeline-event-marker" [style.backgroundColor]="step.color" style="border: 0;width: 2rem!important; height: 2rem!important; align-items: center!important; justify-content: center!important; flex-shrink: 0;">
                <i [ngClass]="step.icon" style="color:white; font-size: 1.2rem;"></i>
            </span>
            <span [style]="{'white-space':'pre'}" *ngIf="steps.indexOf(step)<numberOfSteps"> {{step.text}} {{steps.indexOf(step)+1}} </span>
        </ng-template>
        <ng-template pTemplate="content" let-step>
          <p-card  [style]="{ width: '90%', border: '1px solid #3B82F6', height:'175px'}" styleClass="stepCard" class="{{(steps.indexOf(step)<numberOfSteps) ? 'visible' : 'invisible'}} shadow-2">
            <p-scrollPanel [style]="{ width: '100%', height: '150px'}" styleClass="custombar1">
              <p class="m-0">

                {{ step.successText}}
              </p>
            </p-scrollPanel>
          </p-card>
          <br>
          <p-button  icon="pi pi-plus" [style]="{'width':'90%'}" class= "{{step.moreData ? 'visible' : 'invisible'}} p-button-rounded" (click)="showMaximizableDialog(step.moreDataValue,steps.indexOf(step))" [disabled]="step.moreData == false"  label="SHOW"></p-button>
        </ng-template>
      </p-timeline>
        </div>
      </ng-template>

    </p-splitter>

    <p-divider layout="horizontal" styleClass="md:hidden"></p-divider>
    <div class="col flex align-items-center justify-content-center">
      <p-progressBar [value]="completionPercentage" [showValue]="true" [style]="{ width: '100%' }"></p-progressBar>
    </div>
  </p-accordionTab>
</p-accordion>


<p-dialog header="STEP N°{{currentMoreDataIndex+1}}" [(visible)]="displayMaximizable" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p class="m-0">
    {{currentMoreDataValue}}
  </p>
</p-dialog>



