<div class="container">
  <p-button class="main-body" (click)="sidebarVisible= !sidebarVisible" icon="pi pi-history"></p-button>
  <aside *ngIf="sidebarVisible">
    <h1>Simulations</h1>
    <div class="inline-parent">
      <p-panel [toggleable]="true" [collapsed]="false">
        <ng-template pTemplate="header">
          <p>Filtrer par :</p>
          <p-button class="float-child" label = "Nouveau" iconPos="right"[outlined]="true" [raised]="true" icon="pi pi-plus" (click)="addFilter()"></p-button>
        </ng-template>
        <ng-template pTemplate="content">
          <div *ngFor="let filter of filters" class="inline-parent">
            <p-dropdown [options]="properties" [filter]="true" [(ngModel)]="filter.field" (onChange)="updateSimulations()" (onShow)="onDropdownShow()" [virtualScroll]="true" [virtualScrollItemSize]="30"></p-dropdown>
            <p-dropdown [options]="FilterOperators" [(ngModel)]="filter.operator" (onChange)="updateSimulations()"></p-dropdown>
            <input pInputText [(ngModel)]="filter.value" placeholder="Valeur" class="" style="width: 5em" (change)="updateSimulations()">
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="removeFilter(filter)"></button>
          </div>
        </ng-template>
      </p-panel>
    </div>
    <hr>
    <div class="inline-parent">
      <p>Trier par :</p>
      <p-dropdown [options]="properties" [filter]="true" [(ngModel)]="sortSelected" (onShow)="onDropdownShow()"   (click)="updateSimulations()" [virtualScroll]="true" [virtualScrollItemSize]="30"></p-dropdown>
    </div>
    <hr>
    <h1>Historique</h1>
    <p-confirmDialog></p-confirmDialog>
    <p-table [value]="simulations" [scrollable]="true" styleClass="p-datatable-striped" scrollHeight="40vh">
      <ng-template pTemplate="header">
        <tr>
          <th><input type="checkbox" [(ngModel)]="globalCheck" (click)="selectAll()"></th>
          <th>{{sortSelected.charAt(0).toUpperCase() + sortSelected.slice(1)}}</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-simu>
        <tr>
          <td><input type="checkbox" [(ngModel)]="simu.checked"></td>
          <td *ngIf="!simu.rename" (click)="simu.rename = !simu.rename">{{simu[sortSelected]}}</td>
          <td *ngIf="simu.rename">
            <input type="text" pInputText [(ngModel)]="simu.renameValue" />
            <button pButton type="button" icon="pi pi-check"  (click)="setName(simu)" iconPos="left"></button>
          </td>
          <td>

              <p-dialog [(visible)]="infoVisible" [style]="{'left': '1556px'}">
                <ng-template pTemplate="content" style="{'overflow-x':'scroll', 'max-width':'30vw'}">
                  <div *ngFor="let s of stringifySimu(simu)">
                    <p>{{s}}</p>
                  </div>
                  <hr>
                  <p-scrollPanel [style]="{ width: '30vw', height: '150px' }">
                    <pre>{{ currentSimulationInfo | json }}</pre>
                  </p-scrollPanel>

                </ng-template>
              </p-dialog>
              <button pButton icon="pi pi-info" (click)="showDialog()" class="p-button-rounded p-button-text"></button>


          </td>
          <td><button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="deleteSimulation(simu)"></button></td>
          <td><button pButton type="button" [icon]="getIcon(simu.favorite)" (click)="setFavorite(simu)" class="p-button-rounded p-button-text p-button-warning" ></button></td>
        </tr>
      </ng-template>
    </p-table>
    <hr>
    <div class="inline-parent background">
      <button pButton type="button" icon="pi pi-undo" class="p-button-rounded p-button-text" style="color: white" (click)="reset()"></button>
      <button pButton type="button" class="p-button-success" (click)="validate()">Valider</button>
    </div>

  </aside>
</div>
