.title{
    text-align: center;
    font-size: 3em;
}
.container-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;
}

app-plot {
  flex: 1; /* Le composant de gauche prendra autant d'espace disponible que possible */
  max-width: 95%; /* Ajustez selon vos besoins, c'est la largeur maximale du composant de gauche */
  overflow: hidden; /* Masquer le contenu débordant du composant de gauche */
  transition: flex 0.8s;
}

app-history {
  flex: 0 0 auto; /* Le composant de droite ne prendra que l'espace nécessaire */
  min-width: 50px; /* Ajustez selon vos besoins, c'est la largeur minimale du composant de droite */
}

.sidebar-closed app-plot {
  flex: 4;
}
