<!-- {{plot}} -->

<!-- <div *ngIf="plot">
  <div [innerHTML]="plot"></div>
</div> -->
<div style="width: 800px;">
  <label for="startYear">Année de début:</label>
  <input type="number" id="startYear" [(ngModel)]="startYear">
  <label for="endYear">Année de fin:</label>
  <input type="number" id="endYear" [(ngModel)]="endYear">
  <button (click)="majIntervalle()">Appliquer</button>
  <button (click)="resetIntervalle()">Reset</button>

  <div>
  <label>{{loga}}</label>
  <label class="switch">
    <input type="checkbox" (click)="logarithmique()">
    <span class="slider round"></span>
  </label>
  </div>
  <div id="plot"></div>
</div>
  